* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2em;
}

.container {
  width: 800px;
  margin: auto;
}

.contacts {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.photo {
  width: 20%;
}

.photo img {
  width: 100%;
}

.name {
  width: 60%;
}

.contact-items {
  width: 30%;
}

h1 {
  font-size: 3em;
  line-height: 1.2em;
  margin-left: 1em;
}

h2 {
  font-size: 1.3em;
  background-color: aliceblue;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1, h2 {
  color: steelblue;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.5em 0 0.5em 0;
}

p {
  margin-bottom: 0.5em;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
  padding-left: 20px;
  border-left: 10px solid #c4c4c4;
}

.contact {
  text-align: right;
}

footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
}

.timeline-item {
  padding: 2em 1em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.timeline-item::before {
  content: attr(period);
  position: absolute;
  left: 1em;
  font-weight: bold;
  top: .8em;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
       -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
          border-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0))) 1 100%;
          border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}
